<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

        <!-- Custom styles for this template -->
        {% load static %}
        <link href="{% static 'core/css/dashboard.css' %}" rel="stylesheet">
        <!-- fontawesome //-->
        <link href="{% static 'core/css/fontawesome.min.css' %}" rel="stylesheet">
{% block custom_css %}
{% endblock custom_css %}
        <title>Mi Réis</title>
    </head>
    <body>
        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="{% url 'core:index' %}">Mi Réi$</a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
{% block search %}
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
{% endblock search %}
        </nav>
        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="position-sticky pt-3">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fas fa-user"></i>
                                    <i><small>{{ request.session.user.username }}</small></i>
                                </a>
                            </li>
                        </ul>
                        <hr>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:account-list' %}">
                                    <i class="fas fa-file-invoice-dollar"></i>
                                    Accounts
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fas fa-money-bill-alt"></i>
                                    Transaction
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:logout' %}">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Sign out
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
{% block content %}
{% endblock content %}
                </main>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- Popper.js first, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
{% block custom_js %}
{% endblock custom_js %}
    </body>
</html>